node_modules
package-lock.json
example.js
.env
coverage
.nyc_output
server/middlewares/validatePath.js
htm.html
client/src/app/index.jsx
client/src/components/container/**
client/src/components/home/UpdatePassword.jsx
client/src/components/home/UpdateProfileForm.jsx
client/src/components/UserIdeas.jsx