node_modules
package-lock.json
example.js
.env
coverage
.nyc_output
server/middlewares/validatePath.js
htm.html
client/src/components/home/UpdatePassword.jsx
client/src/components/idea/EditIdea.jsx
client/src/components/idea/EditIdeaModal.jsx