// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
    background-color: #000;
    color: #FAFAFA
}

.btn {
    margin: 0 1vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#login {
    width: 60vh;
}

.margin-top {
    margin-top: 1rem;
    width: 125px;
}

#register {
    width: 60vh;
}

.display {
    min-height: 35px;
    width: 100%;
    color: white;
    border-radius: 3px;
    text-align: center;
    padding-top: 7px;
    font-size: 12px;
    opacity: 0.9;
}

.header {
    color: black
}

.link {
    float: right;
}