// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
body {
    background-color: #FAFAFA;
}

.btn {
    margin: 0 1vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.margin-top {
    margin-top: 1rem;
}

#register {
    width: 60vh;
}

.display {
    min-height: 35px;
    width: 100%;
    color: white;
    border-radius: 3px;
    text-align: center;
    padding-top: 7px;
    font-size: 12px;
    opacity: 0.9;
}